.projects{
  margin-bottom: 16rem;
  scroll-margin-top: 15rem;
}

.projects .projects__content{
  max-width: 56rem;
  text-align: center;
  margin: 0 auto 6rem;
}
.projects p:nth-child(3){
  text-align: center;
  margin-top: 2rem;
}

.projects .loader{
 display: flex;
 align-items: center;
 justify-content: center;
 padding-top: 9rem;

}


.projects .loader span{
  display: block;
  width: 2rem;
  height: 2rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 0 5px;
  animation: moveup 0.6s linear infinite alternate;
}

@keyframes moveup{
  100%{
    transform: translateY(-25px);
  }
}

.projects .loader span:nth-child(2){
  animation-delay: 0.25s;
}
.projects .loader span:nth-child(3){
  animation-delay: 0.5s;
}

.projects ul li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.projects ul li.projects__reversed-list{
  flex-direction: row-reverse;
}

/* seleciona todos menos o último */
.projects ul li:not(:last-of-type){
  margin-bottom: 12rem;
}

.projects ul li .image img{
  width: 100%;
  min-width: 40rem;
  max-width: 47rem;
  height: auto;
}

.projects ul li .projects__info{
 max-width: 47rem;
}

.projects ul li .projects__info p{
 margin: 1rem 0 4rem;
}

.projects ul li .projects__info a{
 font-weight: 500;
 text-decoration: underline;
}

@media only screen and (max-width: 768px){
  .projects ul li,
  .projects ul li.projects__reversed-list{
    flex-direction: column;
  }

  .projects ul li .projects__info{
    min-width: auto;
  }
}